.linea {
    color:blue;
    font-size: 1.5rem;
    text-align: center;

}

.container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    height: 230px;
    width: 150px;
    background-color: rgb(20, 200, 220);
    border-radius: 15px;
    text-align: center;
}